<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nalanda</title>
</head>
<body>
    <nav>
        <h1>Nalanda</h1>
        {% if user.is_authenticated %}
            <form method="POST" action="{% url "logout" %}">
                {% csrf_token %}
                <button >Logout</button>
            </form>
            {% if prof %}
                <a href="{% url "prof-home" %}"><button>Home</button></a>
            {% else %}
                <a href="{% url "stu-home" %}"><button>Home</button></a>
            {% endif %}
        {% endif %}
    </nav>
    <br>
    {% if messages %}
        {% for message in messages %}
            {{ message }}<br>
        {% endfor %}
    {% endif %}
    <br>
    {% block content %}{% endblock content %}
</body>
</html>